/* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */

* {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 10px;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

/* Header style */

header {
    background-color: bisque;
    padding: 50px 250px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 800;
}

nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.791);
}

/* banner style */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: rgb(14, 13, 13);
}

.banner-description {
    color: rgba(0, 0, 0, 0.684);
}

.banner img {
    margin-top: 20px;
    width: 100%;
}


/* responsive media queries */
/* mobile Devices */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/* tablet or medium devices */

@media screen and (min-width: 577px) and (max-width:960px) {

    header {
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }
}
